main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content {
    align-items: center;
}

#buttonsDivs {
    display: flex;
    margin-top: 20px;
}

button {
        background-color: black;
        color: #ffffff;
        width: 120px;
        height: 40px;
}

#bothButton{
    background-color: rgba(66, 66, 66, 1);
}

#eloTables{
    display: flex;
    gap: 50px;
    width: 60%;
    
}

.eloTable {
    width: 100%;
    margin-top: 20px;
    /* overflow-y: scroll; */
}

#table {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

table {
  text-align: center;
  align-self: center;
  border: #24e3fd solid 2px;
  width: 100%;
}

#table div {
    width: 100%;
}

th {
    font-weight: bolder;
}

th,
td {
	border: 1px solid rgb(119, 119, 119);
}

tr {
	border-bottom: 1px solid;
}

th:first-child,
td:first-child {
    width: 20%;

}

th, td {
    width: 10%;
}

#table img {
    margin-top: 20px;
    border: #24e3fd solid 1px;
    width: 100%;
    padding: 2px;
}

#matches{
    width: 90%;
}

#schedule {
    display: flex;
    flex-direction: row;
    /* margin-left: 20px;
    margin-top: 20px; */
    gap: 20px;
    /* align-items: center; */
    /* align-items: center; */
    overflow: visible;
    width: 10;
    justify-content: center;
}


#div1matches {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#div2matches {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#miscmatches {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#upComingHide {
    /* margin-left: 60px; */
  /* overflow: visible;  */
  width: 100%;
  /* display: flex; */
  align-items: center;
}

#upcomingMatches {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    justify-content: flex-start;
    
}

#upcomingMatches .match {
    /* flex: 1; */
    width: 450px;
}

.match img {
    width: 3rem;
    /* justify-self: flex-end; */
    aspect-ratio: 1/1;
    /* object-fit: none; */
}
.match {
    padding: 10px;
    background-color: rgb(27, 27, 27);
    border: #24e3fd solid;
    border-width: 2px;
    border-radius: 20px;
    /* border-radius: calc((20 / 200) * 100%); */
    min-height: 300px;
    /* max-width: 500px;
    min-width: 350px; */
}

.playerName:hover {
    cursor: pointer;
    color: #24e3fd;
}

#finals {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#finals .match {
    border: solid rgba(255, 217, 0, 0.664);
}


#teams {
  display: grid;
  grid-template-columns: 1fr; /* stack rows */
  /* grid-auto-rows: 60px; */
  gap: 6px;
}

.row {
  display: grid;
  grid-template-columns: 80px 40px 1fr; /* player | score | team */
  align-items: center;
  gap: 45px;
  min-height: 40px;
}

.row :nth-child(2) {
    justify-self: center;
}

.row.header {
  font-weight: bold;
  border-bottom: 1px solid #444;
  align-items: baseline;
  max-height: 20px;
}

.team {
  display: flex;
  align-items: center;  /* ✅ keeps text aligned with logo */
  gap: 8px;
}

.revealBtn {
    background-color: rgb(27, 27, 27);
    border: solid #24e3fd; 
    border-width: 1px;
    color: white;
    width: 30%;
    align-self: center;
}

/* Media Queries */

@media (max-width: 800px){
    #schedule {
        flex-direction: row;
        flex-wrap: wrap;
        width: 10;

    }

    #div1matches {
    width: 100%;
}

#bothButton {
    display: none;
}

#div2matches {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
}
    