#table {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

table {
  text-align: center;
  border: #24e3fd solid 2px;
  border-collapse: collapse;
  width: 90%;
}

th,
td {
	border: 1px solid rgb(119, 119, 119);
}

tr {
	border-bottom: 1px solid;
}

#schedule {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
    gap: 20px;
    /* align-items: center; */
    justify-content: center;
}

#div1matches {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#div2matches {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.match img {
    max-width: 70px;
    /* justify-self: flex-end; */
}
.match {
    padding: 10px;
    background-color: rgb(27, 27, 27);
    border: #24e3fd solid;
    border-width: 2px;
    border-radius: 5%;
    max-width: 500px;
}

#teams {
    display: flex;
    flex-direction: column;
}

.playerTeams {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.revealBtn {
    background-color: rgb(27, 27, 27);
    border: solid #24e3fd; 
    border-width: 1px;
    color: white;
    width: 30%;
    align-self: center;
}

/* Media Queries */

@media (max-width: 800px){
    #schedule {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;

    }
}
    