body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonsDivs {
    display: flex;
    margin-top: 20px;
}

button {
        background-color: black;
        color: #ffffff;
        width: 120px;
        height: 40px;
}

#bothButton{
    background-color: rgba(66, 66, 66, 1);
}

#table {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    
}

table {
  text-align: center;
  border: #24e3fd solid 2px;
  width: 100%;
}

#tableDiv1 {
    width: 100%;
    flex-direction: column;
}

#tableDiv2 {
    width: 100%;
    flex-direction: column;
}

th,
td {
	border: 1px solid rgb(119, 119, 119);
}

tr {
	border-bottom: 1px solid;
}

#schedule {
    display: flex;
    flex-direction: row;
    /* margin-left: 20px;
    margin-top: 20px; */
    gap: 20px;
    /* align-items: center; */
    /* align-items: center; */
    width: 90%;
}


#div1matches {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

#div2matches {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.match img {
    max-width: 70px;
    /* justify-self: flex-end; */
    aspect-ratio: 1/1;
    /* object-fit: none; */
}
.match {
    padding: 10px;
    background-color: rgb(27, 27, 27);
    border: #24e3fd solid;
    border-width: 2px;
    border-radius: 5%;
    min-height: 280px;
    /* max-width: 500px;
    min-width: 350px; */
}


#teams {
  display: grid;
  grid-template-columns: 1fr; /* stack rows */
  gap: 6px;
}

.row {
  display: grid;
  grid-template-columns: 1fr auto 2fr; /* player | score | team */
  align-items: center;
  gap: 45px;
  padding: 4px 0;
  min-height: 25px;
}

.row.header {
  font-weight: bold;
  border-bottom: 1px solid #444;
}

.team {
  display: flex;
  align-items: center;  /* ✅ keeps text aligned with logo */
  gap: 8px;
}

.revealBtn {
    background-color: rgb(27, 27, 27);
    border: solid #24e3fd; 
    border-width: 1px;
    color: white;
    width: 30%;
    align-self: center;
}

/* Media Queries */

@media (max-width: 800px){
    #schedule {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;

    }

    #div1matches {
    width: 100%;
}

#bothButton {
    display: none;
}

#div2matches {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
}
    