html {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    width: 100%;
    scroll-behavior: smooth;
}


body {  
    margin: 0;  
}

.content {
    display: flex;
    justify-content: center;
    /* padding-top: 20px; */
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    display: flex;
    gap: 0px;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    background-color: #212121;
    /* padding: 10px; */
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    border-bottom: #24e3fd solid;
    position: relative;
    width: 100%;
    z-index: 1;

}


#navList {
    display: flex;
    white-space: nowrap;
    justify-content: space-around;
    gap: 15px;
}

#navlist h1 {
    /* flex-shrink: 2; */
    /* padding-left: 15px; */
    padding-right: 15px;
    /* border-left: #ffffff solid; */
    flex-shrink: 1;
}

header #finalItem {
    border-right: 0;
}

#logotitle {
    display: flex;
    gap: 20px;
}


header img {
    min-width: 0;
    width: 60px;
    height: 60px;
    border-radius: 80%;
    margin-right: 20px ;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #24e3fd;
}

#adminLink {
    display: none;
}

/* Generator */
.function {
    background-color: #212121;
    padding: 40px;
    /* border-radius: 15px; */
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    border: solid #24e3fd;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

.players {
    min-width: 60%;
}

input {
    font-size: 16px;
}

#buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.teams {
    width: 100%;
}

#teamspicked {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#teamspicked div {
    /* border: solid blue; */
    display: grid;
     grid-template-columns: 0.5fr 1fr 0.5fr;
     gap: 10px;

}

#teamspicked div > :nth-child(2){
    justify-self: end;
    align-self: center;
}


#btn1 {
    height: 80px;
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 10%;
}


 #btn1:hover {
    height: 80px;
    background-color: black;
    cursor: pointer;
} 

input {
    background-color: black;
    color: white;
    width: 100%;
}

#showTeams {
    display: flex;
    gap: 50px;
    padding: 50px;
    padding-top: 10px;
    max-height: 350px;
    overflow-y: scroll;
}

#showTeams p{
    font-size: 10pt;
    line-height: 95%;
}

/* Tables */
#tables {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;

}

#schedule {
    /* display: flex;
    flex-direction: column; */
    max-height: 200px;
}




/* Hall of Fame */
#champcontent {
    margin: 20px;
    width: 90%;
}

.champs {
    border-top: white solid;
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: left;
    overflow-x: scroll;
    scrollbar-width: thin;
    padding-bottom: 5px;
}

.player {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
}

.player img {
    aspect-ratio: 3/4;
    width: 90%;
    border: #24e3fd solid 3px;
}

/* Knockout */
.contentKO {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* News Section */

.news-section {
    display: flex;
    /* max-width: 70%; */
    /* margin: auto; */
    padding: 20px;
    gap: 20px;
}
.news-article {
    padding: 15px 15px;
    background-color: #0c0c0c;
    border-radius: 5%;
    margin-bottom: 10px;
    
}
.news-article h2 {
    margin: 0;
    color: #61d5f8;
    scroll-margin-top: 140px;
}
.news-article p {
    color: #ffffff;
    line-height: 1.3;
}

#newsNav {
    position: sticky;
    top:140px;
    min-width: 140px;
    align-self: flex-start;
    background-color: #0c0c0c;
    padding: 15px 15px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;

}

.news-section button {
    display: none;
}

/* Media Queries */

@media (max-width: 800px){
    header {
        /* display: none; */
        /* flex-direction: column; */
        gap: 0px;
        font-size: 9px;
        padding-top: 0px;
        padding-bottom: 0px;
        position: relative;

    }

    #navList {
        gap: 0px;
        /* width: 90%; */
    }

    #navList h1{
        flex-shrink: 2;
    
    }
    .function {
        flex-direction: column;
        width: 78%;
    }

    #showTeams {
        flex-direction: column;
    }

    header h1 {
        margin: 5px;
        border: 0;
    }

    header img {
        height: 50px;
        width: 50px;
        margin-right: 0px;
    }

    #tables {
        flex-direction: column;
    }

    .champs {
        flex-direction: column;
        align-items: center;
    }
    .content {
        /* padding-top: 20px; */
    }
    .news-section {
        flex-direction: column-reverse;
        width: 100%;
    }

    #newsNav {
        display: none;
        width: 95%;
        align-items: center;
        position: relative;
        top: 0;

    }


    .news-section button {
        display: block;
        background-color:#212121;
        color: #ffffff;
    }
}
    
