html {
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    width: 100%;
    scroll-behavior: smooth;
}


body {  
    margin: 0;  
}

.content {
    display: flex;
    justify-content: center;
    /* padding-top: 20px; */
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    gap: 20px;
}

#navList {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* align-items: left; */
  background-color: #212121;
  border-bottom: #24e3fd solid;
  color: #fff;
  position: relative;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  
}

#navList img{
    height: 4rem;

}

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  font-weight: bolder;
  font-size: larger;
  flex-shrink: 1;
}

#hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding-left: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #24e3fd;
    cursor: pointer;
}

#adminLink {
    display: none;
}

/* Generator */
.function {
    align-self: center;
    background-color: #212121;
    padding: 10px;
    /* border-radius: 15px; */
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    border: solid #24e3fd;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

.players {
    min-width: 60%;
}

input {
    font-size: 16px;
}

#buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.teams {
    width: 100%;
}

#teamspicked {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#teamspicked div {
    /* border: solid blue; */
    display: grid;
     grid-template-columns: 0.5fr 1fr 0.5fr;
     gap: 10px;

}

#teamspicked div > :nth-child(2){
    justify-self: end;
    align-self: center;
}


#btn1 {
    height: 80px;
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 10%;
}


 #btn1:hover {
    height: 80px;
    background-color: black;
    cursor: pointer;
} 

input {
    background-color: black;
    color: white;
    width: 100%;
}

#teamsDisplay {
    display: flex;
    flex-direction: column;
    width: 82%;
    /* border: #212121 solid; */
    align-self: center;
    align-items: center;
    /* margin: 10px; */
    background-color: #212121;
    border: #53555569 solid;
    padding: 10px;
}

#teamsHeader {
    display: flex;
    gap: 5px;
    margin: 0px;
    padding: 0px;
}

#teamsHeader h4 {
   margin: 0px;
}

#teamsHeader h4:hover {
   cursor: pointer;
}

#teamsContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin: 0px;
    overflow-y: scroll;
    max-height: 200px;
}

#teamsContent * {
    margin: 2px;
}

#showTeams {
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

#showTeams p{
    font-size: 9pt;
    line-height: 95%;
}

.showTeamType {
    align-items: space-between;
    background: #212121;
    width: 90%;
    margin: 0;
    align-self: center;
}

.showTeamType h3 {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.showTeamType div {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow: auto;
}

.showTeamType div * {
    margin: 5px;
}

/* Tables */
#tables {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;

}

#schedule {
    /* display: flex;
    flex-direction: column; */
    max-height: 200px;
}




/* Hall of Fame */
#champcontent {
    margin: 20px;
    width: 100%;
}

.champs {
    border-top: white solid;
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: left;
    overflow-x: scroll;
    scrollbar-width: thin;
    padding-bottom: 5px;
}

.player {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
}

.player img {
    aspect-ratio: 3/4;
    width: 90%;
    border: #24e3fd solid 3px;
}

/* Knockout */
.contentKO {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* News Section */

#news h1 {
    padding-left: 20px;
}

.news-section {
    display: flex;
    /* max-width: 70%; */
    /* margin: auto; */
    padding: 20px;
    gap: 20px;
}
.news-article {
    padding: 15px 15px;
    background-color: #0c0c0c;
    border-radius: 5%;
    margin-bottom: 10px;
    
}
.news-article h2 {
    margin: 0;
    color: #61d5f8;
    scroll-margin-top: 140px;
}
.news-article p {
    color: #ffffff;
    line-height: 1.3;
}

#newsNav {
    position: sticky;
    top:140px;
    min-width: 140px;
    align-self: flex-start;
    background-color: #0c0c0c;
    padding: 15px 15px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;

}

.news-section button {
    display: none;
}

/* Media Queries */

@media (max-width: 600px){
    .function {
        flex-direction: column;
        width: 78%;
    }

    #showTeams {
        flex-direction: column;
    }

    #tables {
        flex-direction: column;
    }

    .champs {
        flex-direction: column;
        align-items: center;
    }
    .news-section {
        flex-direction: column-reverse;
        width: 100%;
    }

    #newsNav {
        display: none;
        width: 95%;
        align-items: center;
        position: relative;
        top: 0;

    }


    .news-section button {
        display: block;
        background-color:#212121;
        color: #ffffff;
    }

    .nav-links {
        font-size: normal;
        display: none;
    }

      #hamburger {
        display: block;
      } 

.nav-links.show {
    display: flex;
    flex-direction: column;
  }
}


    
