html {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%
}

body {  
    margin: 0;  
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header {
    display: flex;
    gap: 20px;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    background-color: #212121;
    padding: 10px;
    border-bottom: #24e3fd solid;
    position: fixed;
    width: 100%;

}

header h1 {
    flex-shrink: 2;

}

header img {
    flex-shrink: 0;
}

#logotitle {
    display: flex;
    gap: 20px;
}


header img {
    min-width: 0;
    width: 100px;
    height: 100px;
    border-radius: 80%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #24e3fd;
}


/* Generator */
.function {
    background-color: #212121;
    padding: 40px;
    /* border-radius: 15px; */
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    border: solid #24e3fd;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

#buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.teams {
    width: 100%;
}

#btn1 {
    height: 80px;
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 10%;
}


 #btn1:hover {
    height: 80px;
    background-color: black;
    cursor: pointer;
} 

input {
    background-color: black;
    color: white;
    width: 100%;
}

/* Tables */
#tables {
    display: flex;
    width: 100%;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 20px;
}

#schedule {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 400px;
}




/* Hall of Fame */
#champcontent {
    margin: 20px;
    width: 90%;
}

.champs {
    border-top: white solid;
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.player {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 120px;
}

.player img {
    aspect-ratio: 3/4;
    width: 90%;
    border: #24e3fd solid 3px;
}

/* Knockout */
.contentKO {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* News Section */

.news-section {
    max-width: 800px;
    margin: auto;
}
.news-article {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}
.news-article h2 {
    margin: 0;
    color: #61d5f8;
}
.news-article p {
    color: #ffffff;
    line-height: 1.3;
}

/* Media Queries */

@media (max-width: 800px){
    header {
        /* display: none; */
        flex-direction: column;
        gap: 0px;
        font-size: 12px;
        padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    }

    .function {
        flex-direction: column;
    }

    header img {
        height: 80px;
        width: 80px;
    }

    #tables {
        flex-direction: column;
    }

    .champs {
        flex-direction: column;
        align-items: center;
    }
    .content {
        padding-top: 20px;
    }
}
    
