html {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%
}

body {
    /* display: flex; */
    flex-flow: column;
    align-items: center;  
    margin: 0;  
}

.content {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    gap: 50px;
    background-color: #212121;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid #24e3fd;
    margin-top: 0;
    font-size: 16px;
}

header h1 {
    flex-shrink: 2;
}

header img {
    flex-shrink: 0;
}

#logotitle {
    display: flex;
    gap: 20px;
}


header img {
    min-width: 0;
    width: 100px;
    height: 100px;
    border-radius: 80%;
}


input {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #24e3fd;
}

/* KnockOut Tournament Page */
.container {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    
}

li {
    font-size: 16px;
}

.contentKO {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px){
    header {
        /* display: none; */
        flex-direction: column;
        gap: 0px;
        font-size: 12px;
        padding-top: 0px;
    padding-bottom: 0px;
    }

    header img {
        height: 80px;
        width: 80px;
    }
    #winner {
        flex-direction: column;
    }

    .champs {
        flex-direction: column;
    }

    #tables {
        flex-direction: column;
    }
}
    
