html {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%
}

body {  
    margin: 0;  
}

.content {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    gap: 50px;
    background-color: #212121;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid #24e3fd;
    margin-top: 0;
    font-size: 16px;
}

header h1 {
    flex-shrink: 2;

}

header img {
    flex-shrink: 0;
}

#logotitle {
    display: flex;
    gap: 20px;
}


header img {
    min-width: 0;
    width: 100px;
    height: 100px;
    border-radius: 80%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #24e3fd;
}


/* Generator */
.function {
    background-color: #212121;
    padding: 40px;
    /* border-radius: 15px; */
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    border: solid #24e3fd;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

#buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 30px;
}

.teams {
    width: 100%;
}

#btn1 {
    height: 80px;
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 10%;
}


 #btn1:hover {
    height: 80px;
    background-color: black;
    cursor: pointer;
} 

input {
    background-color: black;
    color: white;
    width: 100%;
}

/* Tables */
#tables {
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 20px;
}

#tableContainer {
    width: 90%;
}




/* Hall of Fame */
#champcontent {
    margin: 20px;
}

.champs {
    border-top: white solid;
    display: flex;
    gap: 15px;
    /* justify-content: center; */
    overflow: auto;
}

.player {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 200px;
}

.player img {
    aspect-ratio: 3/4;
    width: 100%;
    /* height: 400px; */
    border: #24e3fd solid 3px;
}

#div2champs .champs {
    justify-content: center;
}

#otherchamps .champs {
    justify-content: center;
}




/* Knockout */
.contentKO {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Media Queries */

@media (max-width: 800px){
    header {
        /* display: none; */
        flex-direction: column;
        gap: 0px;
        font-size: 12px;
        padding-top: 0px;
    padding-bottom: 0px;
    }

    .function {
        flex-direction: column;
    }

    header img {
        height: 80px;
        width: 80px;
    }

    #tables {
        flex-direction: column;
    }

    .champs {
        flex-direction: column;
    }
}
    
