html {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%
}

body {
    /* display: flex; */
    flex-flow: column;
    align-items: center;  
    margin: 0;  
}

.content {
    display: flex;
    justify-content: center;
}



.function {
    background-color: #212121;
    padding: 40px;
    /* border-radius: 15px; */
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    gap: 20px;
    border: solid #24e3fd;
    align-items: center;
    margin-top: 20px;
}

header {
    display: flex;
    gap: 50px;
    background-color: #212121;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid #24e3fd;
    margin-top: 0;
    font-size: 16px;
}

header h1 {
    flex-shrink: 2;
    

}

header img {
    flex-shrink: 0;
}

#logotitle {
    display: flex;
    gap: 20px;
}


header img {
    min-width: 0;
    width: 100px;
    height: 100px;
    border-radius: 80%;
}

div #button {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#btn1 {
    height: 80px;
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 10%;
}


#btn1:hover {
    height: 80px;
    background-color: black;
    cursor: pointer;
}

#btn2 {
    background-color: black;
    color: white;
}

input {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #24e3fd;
}

#winner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-shrink: 1;
}

.player {
    display: flex;
    gap: 0px;
    align-items: center;
    flex-direction:column;
    flex-shrink: 1;
    overflow: auto;
}

.player img {
    /* border-radius: 10%; */
    width: 200px;
    border: solid 3px #24e3fd;
    transition: margin-top 0.5s;
}

.player img:hover {
    margin-top: -10px;
    transition: margin-top 0.5s;
}

#tables {
    display: flex;
    justify-content: center;
    gap: 20px;
}
#photos {
    display: flex;
    align-items: center;
}
#div1champs {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#div2champs {
    margin-top: 30px;
    width: 100%;
    border-top: solid 10px white;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#otherchamps {
    align-items: center;
    display: flex;
    border-top: solid 10px white;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100%;
}

.champs {
    display: flex;
    gap: 20px;
}


/* KnockOut Tournament Page */
li {
    font-size: 16px;
}

.contentKO {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px){
    header {
        /* display: none; */
        flex-direction: column;
        gap: 0px;
        font-size: 12px;
        padding-top: 0px;
    padding-bottom: 0px;
    }

    header img {
        height: 80px;
        width: 80px;
    }
    #winner {
        flex-direction: column;
    }

    .champs {
        flex-direction: column;
    }

    #tables {
        flex-direction: column;
    }
}
    
